# Project 4

Group 4
- Santosh Cheruku
- Vinicio Haro
- Javern Wilson
- Saayed Alam

In [4]:
import numpy as np
import pandas as pd
import os
import string
import re
import warnings 
warnings.filterwarnings('ignore')

#any additional packages will be loaded ad-hoc

Our goal is to see if twitter sentiment can be a good predictor for the outcome of an election. We have access to 18k tweets collected from the twitter API in relation to the 2019 Australian election in addition to geographic data that can be merged to the twitter data. The data can be found here : https://www.kaggle.com/taniaj/australian-election-2019-tweets

In [5]:
#Read in the Data 
twitter_data = pd.read_csv('location_geocode.csv', low_memory=False)

geo_data = pd.read_csv('auspol2019.csv', low_memory=False)

In [6]:
twitter_data.head()

                         name        lat        long
0        Brisbane, Queensland -27.469771  153.025124
1  Wollongong, NSW, AUSTRALIA -34.427812  150.893061
2                   Melbourne -37.813628  144.963058
3                 Philippines  12.879721  121.774017
4                   Australia -25.274398  133.775136

In [7]:
geo_data.head()

,created_at,id,full_text,retweet_count,favorite_count,user_id,user_name,user_screen_name,user_description,user_location,user_created_at
0,2019-05-20 09:13:44,1130401208756187136,After the climate election: shellshocked green...,0.0,0.0,9.248486e+07,PIPELINEPETE,jocksjig,Retired Tradesman and Progressive Anti Conserv...,"Brisbane, Queensland",2009-11-25 09:19:45
1,2019-05-20 09:13:43,1130401205367140357,@narendramodi @smritiirani Coverage of indian ...,0.0,0.0,7.756474e+08,Narinder Parmar,nparmar1957,"Life coach & trainer, Motivational speaker, Ma...","Wollongong, NSW, AUSTRALIA",2012-08-23 10:20:40
2,2019-05-20 09:13:33,1130401162782371841,@workmanalice Do you know if Facebook is relea...,0.0,0.0,5.687300e+04,Peter Wells,peterwells,Writes for @theage and @smh on technology and ...,Melbourne,2006-12-11 07:38:06
3,2019-05-20 09:13:29,1130401143551434753,@vanbadham We all understand we have a compuls...,0.0,0.0,9.081660e+17,The Realist,therealist822,"Calls it as I see it. Anti PC, SJW and VS. If ...",NaN,2017-09-14 03:10:30
4,2019-05-20 09:13:23,1130401118666809345,"Shares were mixed in Asia, with India and Aust...",0.0,0.0,5.260074e+08,Inquirer Business,InquirerBiz,The official Twitter account of the Inquirer G...,Philippines,2012-03-16 03:51:59

Lets look at the dimensions of the datasets to get a grasp of the scale of data we are working with.

In [8]:
twitter_data.shape

(11153, 3)

In [9]:
geo_data.shape

(183379, 11)

Combine the geo data and the twitter data. We are able to do this by performing a join on userlocation and name. We will re-check our new data frame to validate that the join performed what we wanted to.

In [13]:
#merging two data frames based on user location
twitter_data = twitter_data.merge(geo_data, how='inner', left_on='name', right_on='user_location')

twitter_data.head()

MemoryError: